<figure class="article-image">
  <a href="
    {{- with .Get "link" }}{{ . }}{{ else }}https://res.cloudinary.com/dj66cgnpk/image/upload/v1583847789/blog/{{ .Get "src" }}{{ end -}}"
    {{- with .Get "target" }} target="{{ . }}"{{ end -}}
    {{- with .Get "rel" }} rel="{{ . }}"{{ end -}}>
    <img src="https://res.cloudinary.com/dj66cgnpk/image/upload/t_blog_thumb/v1583847789/blog/{{ .Get "src" }}" alt="{{ .Get "alt" }}" />
  </a>
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
  <figcaption>{{ if isset .Params "title" }}<h4>{{ .Get "title" }}</h4>{{ end }}
    {{- if or (.Get "caption") (.Get "attr") }}
    <p>
      {{- .Get "caption" }}
      {{- with .Get "attrlink" }}<a href="{{.}}">{{ end -}}
        {{- .Get "attr" -}}
      {{- if .Get "attrlink" }}</a>{{ end -}}
    </p>
    {{- end }}
  </figcaption>
  {{- end }}
</figure>
